body {
	font: 14px/1.4 Arial, Helvetica, sans-serif;
	color: #1e1e33;
}
.clearfix:after {
	content: '.';
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
	font: 0/0 sans-serif;
}
.field {
	position: relative;
	width: 50%;
	min-width: 100px;
	height: 600px;
	float: right;
	margin: 60px 0 0 0;
	background-color: #3dc928;
	border: 1px solid #000;
}
	.road {
		position: absolute;
		top: -50px;
		bottom: -50px;
		left: 50%;
		width: 50px;
		margin-left: -25px;
		background-color: #787484;
	}
	.road:before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		width: 0;
		border: 1px dashed #fff;
	}
		.road .layer {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
			.road .v {
				position: absolute;
			}
				.road .v b {
					display: block;
				}
			.road s {
				display: block;
				position: absolute;
				border: 1px solid #333;
				background-color: rgba(50,50,50,0.3);
				-webkit-transition: background-color 0.1s linear;
						transition: background-color 0.1s linear;
			}
			.road s.red {
				background-color: rgba(250,50,50,0.6);
			}
			.road s.green {
				background-color: rgba(50,250,50,0.6);
			}
			.road s.yellow {
				background-color: rgba(250,250,50,0.6);
			}

.stats {
	float: left;
	margin: 60px 0 0 0;
}
	.stats .stat-value {
		font-weight: bold;
	}
	.stats dt {
		float: left;
		width: 150px;
		text-align: right;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
		.stats dt:after {
			content: ':';
		}
	.stats dd {
		float: left;
		margin-left: 10px;
	}
	.stats .meter {
		width: 150px;
		height: 15px;
		border: 1px solid #ff3232;
		background-color: #fff;
		overflow: hidden;
	}
		.stats .meter > i {
			display: block;
			height: 15px;
			background: linear-gradient(to right,#ff3232 0%,#fff830 75px,#2dce18 150px);
		}
		.stats .meter.rev > i {
			background: linear-gradient(to right,#2dce18 0%,#fff830 75px,#ff3232 150px);	
		}

.controls {
	clear: left;
}