.field {
	position: relative;
	width: 50%;
	min-width: 100px;
	height: 600px;
	float: right;
	margin: 60px 20px 0 0;
	background-color: #3dc928;
	border: 1px solid #000;
}
	.road {
		position: absolute;
		top: -50px;
		bottom: -50px;
		left: 50%;
		width: 50px;
		margin-left: -25px;
		background-color: #787484;
	}
	.road:before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		width: 0;
		border: 1px dashed #fff;
	}
		.road .layer {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
			.road .v {
				position: absolute;
			}
				.road .v b {
					display: block;
				}
			.road s {
				display: block;
				position: absolute;
				border: 1px solid #333;
				background-color: rgba(50,50,50,0.3);
			}