html, body {
    min-height: 640px;
}
body {
	font: 14px/1.4 Arial, Helvetica, sans-serif;
	color: #1e1e33;
}
.clearfix:after {
	content: '.';
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
	font: 0/0 sans-serif;
}
.field {
	position: relative;
    width: 98%;
	height: 300px;
	min-height: 100px;
    margin: 20px auto;
	overflow: hidden;
	background-color: #3dc928;
}
	.road {
		position: absolute;
		top: 50%;
		right: -200px;
		left: -200px;
	}
		.road .layer {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
		}
		.road .layer.lanes {
            position: relative;
        }
			.road .lane {
                background-color: #787484;
                border-bottom: 1px dashed #fff;
            }
            .road .lane:first-child {
                border-top: 1px solid #fff;
            }
            .road .lane:last-child {
                border-bottom-style: solid;
            }
            .road .v {
				position: absolute;
                top: 0;
                left: 0;
			}
				.road .v b {
                    position: relative;
					display: block;
                    transition: transform 0.3s linear;
				}
                .road .v b:before,
                .road .v b:after {
                    content: '';
                    position: absolute;
                    top: 0.05em;
                    width: 3px;
                    height: 4px;
                    margin-top: -2px;
                    border-radius: 50%;
                }
                .road .v b:before {
                    right: -1px;
                    background-color: #fff;
                    box-shadow: 0 0.9em 0 #fff;
                }
                .road .v b:after {
                    left: -1px;
                    background-color: #811;
                    box-shadow: 0 0.9em 0 #811;
                }
				.road .v.crashed b {
					-webkit-animation: crash 2s linear 0s infinite;
				    -moz-animation: crash 2s linear 0s infinite;
				    animation: crash 2s linear 0s infinite;
				}
				@-webkit-keyframes crash { 
					0%, 100% { 
						box-shadow: 0px 1px 5px 3px rgba(250, 50, 50, 1); 
					}
					50% { 
						box-shadow: 0px 1px 5px 3px rgba(250, 50, 50, 0); 
					}  
				}
				@-moz-keyframes crash { 
					0%, 100% { 
						box-shadow: 0px 1px 5px 3px rgba(250, 50, 50, 1); 
					}
					50% { 
						box-shadow: 0px 1px 5px 3px rgba(250, 50, 50, 0); 
					}  
				}
				@keyframes crash { 
					0%, 100% { 
						box-shadow: 0px 1px 5px 3px rgba(250, 50, 50, 1); 
					}
					50% { 
						box-shadow: 0px 1px 5px 3px rgba(250, 50, 50, 0); 
					}  
				}
			.road s {
				display: block;
				position: absolute;
				border: 1px solid #333;
				background-color: rgba(50,50,50,0.3);
				-webkit-transition: background-color 0.1s linear;
						transition: background-color 0.1s linear;
			}
			.road s.stop {
				background-color: rgba(250,50,50,0.6);
			}
			.road s.go {
				background-color: rgba(50,250,50,0.6);
			}
			.road s.ready {
				background-color: rgba(250,250,50,0.6);
			}

.stats {
	display: table;
}
	.stats .stat-value {
		display: table-row;
		font-weight: bold;
	}
	.stats dt {
		display: table-cell;
		padding: 0 0 8px;
		text-align: right;
		vertical-align: top
	}
		.stats dt:after {
			content: ':';
		}
	.stats dd {
		display: table-cell;
		padding: 0 0 0 10px;
	}
	.stats .meter {
		width: 150px;
		height: 15px;
		border: 1px solid #ff3232;
		background-color: #fff;
		overflow: hidden;
	}
		.stats .meter > i {
			display: block;
			height: 15px;
			background: linear-gradient(to right,#ff3232 0%,#fff830 75px,#2dce18 150px);
		}
		.stats .meter.rev > i {
			background: linear-gradient(to right,#2dce18 0%,#fff830 75px,#ff3232 150px);	
		}

.controls {
	float: right;
	width: 49%;
	margin: 20px 0;
}
	.controls label {
		display: block;
		float: left;
		width: 30%;
		margin-right: 3%;
	}
		.controls p {
			margin: 0;
		}

	.controls .checkbox-btn {
		text-align: center;
	}
		.controls .checkbox-btn input {
			position: absolute;
			left: -5000px;
		}
		.controls .checkbox-btn input + span {
			display: inline-block;
			width: 90px;
			padding: 9px 0;
			box-shadow: inset 0px 1px 0px 0px #d197fe;
			background-color: #77d42a;
			color: #ffffff;
			font: bold 15px Arial, sans-serif;
			text-align: center;
			-webkit-transition: background-color 0.5s linear;
			transition: background-color 0.5s linear;
		}
		.controls .checkbox-btn input + span:hover {
			background-color: #5cb811;
		}
			.controls .checkbox-btn input + span:after {
				content: attr(data-unchecked-text);
			}
		.controls .checkbox-btn input:checked + span {
			background-color: #c123de;
		}
		.controls .checkbox-btn input:checked + span:hover {
			background-color: #a20dbd;
		}
			.controls .checkbox-btn input:checked + span:after {
				content: attr(data-checked-text);
			}
		.controls .checkbox-btn input:disabled + span {
            background-color: #ccc!important;
        }
	.controls label input[type="checkbox"] {
		vertical-align: middle;
	}
